{% extends "base-backend.html" %}
{% block content %}

<!-- site_custom_languages_page -->

<script src="/static/vendor/bs5-autocomplete/autocomplete.js"></script>

<div class="ds-narrow-container">

  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{url_for('admin_bp.admin_panel')}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Custom translations") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">
        {{ _("Define the languages used to translate custom texts.") }}
        <a href="#" onclick="toggleInlineHelp('site_customlanguages.j2.md')">{{ _("Learn more") }}</a>
      </p>
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <ul id="enabled_language_list" class="ds-list-group"></ul>
    </div>
  </div>

  <div class="grid mt-4 ds-wrapper-white">
    <div class="g-col-12">
      <label class="form-label">{{_("Add a language")}}</label>
      <div class="input-group mb-4">
        <input type="text" class="form-control" id="new-language" placeholder="{{_('Start typing...')}}" autocomplete="off">
      </div>
    </div>
  </div>

</div>

<script>
const inline_help_file_name = "site_customlanguages.j2.md";
var custom_languages = {{custom_languages|tojson}};
var default_language = "{{g.site.language}}"
$(function() {
  updateDisplay();
  $('#enabled_language_list').on("click", ".language-radio", function(){
    setDefaultLanguage($(this).val())
  });
});
const field = document.getElementById('new-language');
const ac = new Autocomplete(field, {
    data: {{all_languages|tojson}},
    label: "name",
    maximumItems: 5,
    threshold: 1,
    onSelectItem: ({label, value}) => {
      $.ajax({
          url : "{{url_for('site_bp.add_custom_language')}}",
          type: "POST",
          data : {
            lang_code: value,
          },
          dataType: "json",
          beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
          },
          success: function(data, textStatus, jqXHR)
          {
            custom_languages = data.custom_languages
            updateDisplay();
            $("#new-language").val("")
          }
      });
    }
});
function removeLang(lang_code) {
  $.ajax({
      url : "{{url_for('site_bp.remove_custom_language')}}",
      type: "POST",
      data : {
        lang_code: lang_code,
      },
      dataType: "json",
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
      },
      success: function(data, textStatus, jqXHR)
      {
        custom_languages = data.custom_languages
        updateDisplay();
        $("#new-language").val("")
      }
  });
}
function setDefaultLanguage(lang_code) {
  $.ajax({
      url : "{{url_for('site_bp.set_custom_language')}}",
      type: "POST",
      data : {
        lang_code: lang_code,
      },
      dataType: "json",
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
      },
      success: function(data, textStatus, jqXHR)
      {
        custom_languages = data.custom_languages
        default_language = data.default_language
        updateDisplay();
      }
  });
}
function updateDisplay() {
  $('#enabled_language_list').html("")
  custom_languages.forEach(function(language) {
    var template = lang_template.replace(/%lang_code%/g, language.value)
                                .replace(/%lang_name%/g, language.name);
    let is_default = language.value == default_language
    template = template.replace(/%disabled%/, is_default ? "disabled":"")
    template = template.replace(/%checked%/, is_default ? "checked":"")
    template = template.replace(/%default%/, is_default ? "({{_('default')}})":"")
    $('#enabled_language_list').append(template);
  })
}
const lang_template = `
<li>
  <span>
    <input id="%lang_code%-lang" type="radio" %checked% class="language-radio" value="%lang_code%" arial-label="{{_('Default language')}} %lang_name%" />
    <label for="%lang_code%-lang">%lang_name% %default%
  </span>
  <span>
    <button %disabled% class="btn btn-sm btn-danger" onclick="removeLang('%lang_code%')">{{_("Remove")}}</button>
  </span>
</li>
`
</script>

{% endblock %}
