{% extends "base-backend.html" %}
{% block content %}

<!-- site_edit_consent_page -->

<div class="ds-narrow-container">

  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{url_for('consent_bp.list_site_data_consents')}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{% if consent.id %}{{ _("Edit privacy statement") }}{% else %}{{ _("New privacy statement") }}{% endif %}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <div id="consent_usage" class="d-flex justify-content-between align-items-center">
        {% if consent.id %}
          {% include('consent/partials/usage.html') %}
        {% else %}
          <span>{{ _("This statement can be attached to your forms and edited as needed.") }}</span>
        {% endif %}
      </div>
    </div>
  </div>

  {% with scope="site" %}
    {% include 'consent/partials/edit-consent.html' %}
  {% endwith %}

</div>

<script>
const inline_help_file_name = "site_dataconsent_edit.j2.md";
</script>

{% endblock %}
