{% extends "base-backend.html" %}
{% block content %}

<!-- edit_consent_text_page -->

<div class="ds-narrow-container">

  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('admin_bp.admin_panel', goto='custom-texts')}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Other information") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("Helpful text only visible to your users") }}.</p>
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <form name="otherInfo" method="POST">
        {% set has_languages = g.site.custom_languages|length > 1 %}
        {{ wtform.csrf_token }}
        {% if has_languages %}
          <div class="mt-1">
            {{ wtform.language.label(for="language", class_="form-label") }}
            {{ wtform.language(id="language", class_="form-select", onchange="changeLanguage()") }}
          </div>
        {% else %}
          <input id="language" type="hidden" name="language" value="{{g.site.language}}" />
        {% endif %}
        <div class="{% if has_languages %}mt-4{%else%}mt-1{%endif%}">
          {{ wtform.contact_info.label(for="language", class_="form-label") }}
          {{ wtform.contact_info(class_="form-control",
                                 rows="7",
                                 placeholder=_("Contact information, etc.")) }}
          <div class="form-text">{{ _("May include HTML links" )}}</div>
          {% for error in wtform.contact_info.errors %}
            <span class="wtf-error ds-error-message">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="mt-4">
          <button class="btn btn-outline-primary" type="button" onclick="javascript:preview_other_info()">{{_("Preview")}}</button>
          <input class="btn btn-primary" type="submit" value="{{ _('Save') }}">
        </div>
      </form>
    </div>
  </div>

  <div id="info_preview_container" class="grid mt-3" style="display:none">
    <div class="g-col-12">
      <div id="preview_html" class="p-3 text-bg-light"></div>
    </div>
  </div>

</div>

<script>
const inline_help_file_name = "site_otherinfo.j2.md";
const messages = {{ messages | tojson}}

$(function() {
  setMessage()
});
function changeLanguage() {
  setMessage()
}
function setMessage() {
  let lang_code = $('#language').val()
  let msg = messages[lang_code] !== undefined ? messages[lang_code] : ""
  $('#contact_info').val(msg)
}
function preview_other_info() {
  $.ajax({
      url : "{{url_for('site_bp.preview_other_info')}}",
      type: "POST",
      contentType: "application/json",
      dataType: "json",
      data : JSON.stringify({info_text: $('#contact_info').val()}),
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", "{{csrf_token()}}")
        }
      },
      success: function(data, textStatus, jqXHR)
      {
        if (data.html != "") {
          $("#preview_html").html(data.html)
          $("#info_preview_container").show()
          $('html, body').animate({
              scrollTop: $("#info_preview_container").offset().top -200
          }, 250);
        }
      }
  });
}
$("form[name=otherInfo]").focusin(function() {
  if (!$("input[type=submit]").is(":focus")) {
    $("#preview_html").html("")
    $('#info_preview_container').hide()
  }
});
</script>

{% endblock %}
