/*
 * Plugins
 *
 */

// Parsley
.parsley-errors-list {
  //@extend .my-0;
  @extend .text-danger;
  li {
    margin-top: 0.3rem;
  }
}

.EasyMDEContainer .CodeMirror .editor-preview {
  @extend .ds-marked-up;
}
