{% extends "base-backend.html" %}
{% block content %}

<div class="grid ds-header-title">
  <div class="g-col-12">
    <h1>{{ _("Forms") }}</h1>
  </div>
</div>

<div class="grid mt-3">
  <div class="g-col-12">
    <p class="mb-0">{{ _("The lists of all the forms on this site.") }}</p>
  </div>
</div>

{# /*
 * Don't wrap with bootstrap grid.
 * All classes inside the component.
 */ #}
<div class="ds-wrapper-white mt-3">
  <div vue-component="data-display"
        data-endpoint="{{ url_for('data_display_bp.admin_forms') }}"
        data-ui_language="{{ g.language }}"
        data-csrf_token="{{ csrf_token() }}"
  ></div>
  <div vue-component="items-renderer"></div>
</div>

<script src="/static/js/data-display/{{config['DATA_DISPLAY_VERSION']}}/data-display.js"></script>
<script src="/static/js/data-display/{{config['DATA_DISPLAY_VERSION']}}/items-renderer.js"></script>

<script>
const inline_help_file_name = "admin_forms.j2.md";
</script>

{% endblock %}
