{% extends "base-backend.html" %}
{% block content %}

<!-- list_users_page -->

<div class="grid align-items-center ds-header-title-with-button">
  <div class="g-col-12 g-col-md-6">
    <h1>{{ _("Users") }}</h1>
  </div>
  <div class="g-col-12 g-col-md-6">
    {% if invites %}
    <a class="btn btn-sm btn-primary" role="button" href="{{url_for('admin_bp.list_invites')}}">
      {{ _("Invitations") }}  <span class="badge bg-light text-dark">{{ invites }}</span>
    </a>
    {% else %}
    <a class="btn btn-sm btn-primary" role="button" href="{{url_for('admin_bp.new_invite')}}">{{ _("Invite a new user") }}</a>
    {% endif %}
  </div>
</div>

<div class="grid mt-3">
  <div class="g-col-12">
    <p class="mb-0">{{ _("Manage user accounts on this site.") }}</p>
  </div>
</div>

<div class="ds-wrapper-white mt-3">
  <div vue-component="data-display"
        data-endpoint="{{ url_for('data_display_bp.admin_users') }}"
        data-ui_language="{{ g.language }}"
        data-csrf_token="{{ csrf_token() }}">
  </div>
  <div vue-component="items-renderer"></div>
</div>

<script src="/static/js/data-display/{{config['DATA_DISPLAY_VERSION']}}/data-display.js"></script>
<script src="/static/js/data-display/{{config['DATA_DISPLAY_VERSION']}}/items-renderer.js"></script>

<script>
const inline_help_file_name = "admin_users.j2.md";
</script>

{% endblock %}
