# ~~~~~ /etc/supervisor/conf.d/liberaforms.conf ~~~~~
[program:liberaforms]
directory = {{ installation_path }}
command = {{ gunicorn_bin }} -c {{ gunicorn_py }} 'liberaforms:create_app()'
user = {{ username }}
# ~~~~~


# ~~~~~ /etc/supervisor/conf.d/liberaforms-logs.conf ~~~~~
[program:liberaforms-logs]
directory = {{ installation_path }}
command = {{ python_bin }} log_listener.py
priority = 500
autostart = true
autorestart = true
user = {{ username }}
# ~~~~~
