{% extends "base-backend.html" %}
{% block content %}

<!-- chart_answers_page -->

<script src="{{ url_for('static', filename='vendor/chartjs/3.6.2/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/chartjs/3.6.2/chartjs-adapter-date-fns.bundle.min.js') }}"></script>

{% set total_answers = form.answers.count() %}

{% with active_item="graphs" %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

<div class="grid mt-3">
  <div class="g-col-12">
    <p class="mb-0">{{ _("This form's answers displayed as graphs") }}.</p>
  </div>
</div>

<div class="grid mt-3">
  <div class="g-col-12">
    <div id="chrono_answers" class="card">
      <div class="card-header">
        <h2>
        {% if chart_data['number_charts'] or chart_data['multi_choice_charts'] %}
          {% set hidden_body = form_user.ui_preferences.chrono_answers is defined and not form_user.ui_preferences.chrono_answers %}
          {% if not hidden_body %}
          <a href="#" class="toggle-card" title="{{_('Hide')}}""><i data-feather="chevron-up" width="24" height="24" stroke-width="2" aria-hidden="true"></i></a>
          {% else %}
          <a href="#" class="toggle-card" title="{{_('Show')}}""><i data-feather="chevron-down" width="24" height="24" stroke-width="2" aria-hidden="true"></i></a>
          {% endif %}
        {% endif %}
        {% if chart_data['time_span'] %}
          {{ _("Answers") }}: {{ chart_data['time_span'] }}
        {% else %}
          {{ _("Answers") }}
        {% endif %}
        </h2>
      </div>
      <div class="card-body toggled-content" {% if hidden_body %}style="display:none"{% endif %}>
        <canvas id="time_chart" height="100"></canvas>
      </div>
    </div>
  </div>
</div>

{% set graph_id = namespace(value=0) %}
{% if chart_data['number_charts'] %}

<div class="grid ds-header-title-nested mt-2 ds-no-border">
  <h2 class="g-col-12">{{ _("Numeric fields") }}</h2>
</div>
<div class="grid mt-1">
  {% for field in chart_data['number_charts'] %}
    {% set graph_id.value = graph_id.value + 1 %}
    <div class="g-col-12 g-col-md-4 chart-container">
      <div class="card">
        <div class="card-body ds-card-body-with-chart">
          <canvas id="{{ graph_id.value }}_chart" class="ds-answer-bar-chart"></canvas>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}

{% if chart_data['multi_choice_charts'] %}
<div class="grid ds-header-title-nested mt-2 ds-no-border">
  <h2 class="g-col-12">{{ _("Multiple choice") }}</h2>
</div>
<div class="grid mt-1">
  {% for field in chart_data['multi_choice_charts'] %}
    {% set graph_id.value = graph_id.value + 1 %}
    <div class="g-col-12 chart-container">
      <div class="card">
        <div class="card-body ds-card-body-with-chart">
          <canvas id="{{ graph_id.value }}_chart" class="ds-answer-bar-chart"></canvas>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}

<script>
const inline_help_file_name = "form_answers_graphs.j2.md";

if (['second', 'minute', 'hour', 'day', 'week', 'month', 'year'].indexOf('{{chart_data['time_unit']}}') >= 0) {
  var time_unit = '{{chart_data['time_unit']}}'
} else {
  time_unit = 'day'
}
time_chart_data = {{ chart_data['time_chart'] | tojson }}
{% if total_answers == 1 %}
  var first_date = time_chart_data[0].x.slice(-8)
  time_chart_data[0].x = first_date
{% endif %}
{% set color_codes = ["rgba(233, 132, 0, 0.7)", "rgba(182, 0, 181, 0.7)",
                      "rgba(255, 0, 0, 0.7)", "rgba(0, 123 ,255, 0.7)",
                      "rgba(0, 190, 0, 0.7)"]
%}
var ctx = document.getElementById('time_chart');
var time_chart = new Chart(ctx, {
  type: 'line',
  data: {
    datasets: [
      {
        data: time_chart_data,
        {% set radius = 8 %}
        {% set radius = 7 if (total_answers > 10) else radius %}
        {% set radius = 6 if (total_answers > 30) else radius %}
        {% set radius = 5 if (total_answers > 60) else radius %}
        {% set radius = 3 if (total_answers > 90) else radius %}
        pointRadius: {{ radius }},
        pointHitRadius: 15,
        pointBorderWidth: 0,
        pointHoverRadius: 8,
        borderColor: "rgba(0, 190, 0, 1)",
        backgroundColor: "rgba(0, 190, 0, 1)",
        fill: false,
        borderWidth: 4,
      },
    ],
  },
  options: {
    scales: {
      x: {
        {% if total_answers > 1 %}
        type: 'time',
        time: {
          unit: time_unit,
          displayFormats: {
            second: 'kk:mm:ss',
            minute: 'kk:mm',
            hour: 'kk:mm',
            day: 'yyyy-MM-dd',
            week: 'yyyy-MM-dd',
            month: 'yyyy-MM',
            year: 'yyyy-MM',
          }
        }
        {% endif %}
      },
      y: {
        beginAtZero: false,
        min: 1,
        ticks: { precision: 0 }
      }
    },
    animation: false,
    plugins: {
      legend: {
        display: false,
      }
    }
  },
});

var bar_chart_options = {
  maintainAspectRatio: false,
  responsive: true,
  animation: false,
  scales: {
    y: {
      beginAtZero: true,
      ticks: { precision: 0 },
    }
  },
  plugins: {
    legend: {
      onHover: function (e) {
        e.native.target.style.cursor = 'pointer';
      },
      onLeave: function (e) {
        e.native.target.style.cursor = 'default';
      },
      labels: {
        boxWidth: 20,
        usePointStyle: true,
        pointStyle: "rectRounded",
      }
    }
  }
}

{% set color = namespace(value=0) %}
{% set graph_id = namespace(value=0) %}
{% if chart_data['number_charts'] %}
  {% for chart in chart_data['number_charts'] %}
    {% set graph_id.value = graph_id.value + 1 %}
    {% if color.value+1 > color_codes|length %}
        {% set color.value = 1 %}
    {% else %}
        {% set color.value = color.value + 1 %}
    {% endif %}
    var ctx = document.getElementById("{{ graph_id.value }}_chart");
    ctx.height = 320

    options = JSON.parse(JSON.stringify(bar_chart_options));
    options.scales.x = {
      title: {
        text: "Total: {{chart['tally']}}",
        font: { size: 14 },
        display: true
      }
    }
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: {{chart['axis_x']|tojson}},
        datasets: [
          {
            label: ["{{chart.title}}"].map(str => shortenString(str,42))[0],
            data: {{ chart['axis_y'] | tojson }},
            backgroundColor: "{{ color_codes[color.value-1] }}",
            fill: true,
            borderWidth: 0,
            barPercentage: 1,
          }
        ]
      },
      options: options,
    });
  {% endfor %}
{% endif %}

{% if chart_data['multi_choice_charts']|length %}
  {% for field in chart_data['multi_choice_charts'] %}
    {% set graph_id.value = graph_id.value + 1 %}
    {% if color.value+1 > color_codes|length %}
      {% set color.value = 1 %}
    {% else %}
      {% set color.value = color.value + 1 %}
    {% endif %}

    var ctx = document.getElementById("{{ graph_id.value }}_chart");
    var chart_container = $(ctx).closest(".chart-container")
    {% set title_max_length = 45 %}
    {% if field['axis_x']|length > 12 %}
      {% set title_max_length = 185 %}
    {% elif field['axis_x']|length > 6 %}
      {% set title_max_length = 115 %}
      chart_container.addClass("g-col-md-8")
    {% else %}
      chart_container.addClass("g-col-md-4")
    {% endif %}

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels:  {{field['axis_x']|tojson}}.map(str => shortenString(str, 24)),
        datasets: [
          {
            label: ["{{field.title}}"].map(str => shortenString(str,{{title_max_length}}))[0],
            data: {{ field['axis_y']|tojson }},
            backgroundColor: "{{ color_codes[color.value-1] }}",
            fill: true,
            borderWidth: 0,
            barPercentage: 1,
          }
        ]
      },
      options: bar_chart_options
    });
  {% endfor %}
{% endif %}

function shortenString(str, max_length) {
    if ( str.length > max_length ) {
        str = str.slice(0, max_length -2)
        return str+'..'
    }
    return str
}

{% include 'common/toggle_card.js' %}

</script>

{% endblock %}
