{% extends "base-backend.html" %}
{% block content %}

<!-- answer_history_page -->

{% with active_item="options", sub_option=True %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

{% set original_answer = editions[-1:][0] %}

<div class="ds-narrow-container">

  <div class="grid ds-header-title-nested mt-2">
    <div class="g-col-12 d-flex align-items-center justify-content-between">
      <h2>{{ _("Answer edition history") }}</h2>
      <a href="{{url_for('form_bp.list_log', form_id=form.id)}}" class="btn btn-sm btn-primary">{{ _("View log") }}</a>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">
        {{ _("See the changes made to the answer") }}
      </p>
    </div>
  </div>

  <div class="ds-wrapper-white mt-3">
    <div vue-component="data-display"
         data-endpoint="{{ data_endpoint }}"
         data-ui_language="{{ g.language }}"
         data-csrf_token="{{ csrf_token() }}" >
    </div>
    <div vue-component="answers-diff-renderer"
         data-selected_edition_id={{selected_edition_id}}>
    </div>
  </div>

  <script src="/static/js/data-display/{{config['DATA_DISPLAY_VERSION']}}/data-display.js"></script>
  <script src="/static/js/data-display/{{config['DATA_DISPLAY_VERSION']}}/answers-diff-renderer.js"></script>

<script>
const inline_help_file_name = "form_answer_editions.j2.md";
</script>

{% endblock %}
