{% extends "base-backend.html" %}
{% block content %}

<!-- list_answers_page -->

{% with active_item="answers" %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

<div class="grid mt-3">
  <div class="g-col-12">
    <p class="mb-0">{{ _("The answers submitted to this form.") }}</p>
  </div>
</div>

<div class="ds-wrapper-white mt-3">
  <div vue-component="data-display"
       data-endpoint="{{ url_for('data_display_bp.form_answers', form_id=form.id) }}"
       data-ui_language="{{ g.language }}"
       data-display_as="{{ display_as }}"
       data-csrf_token="{{ csrf_token() }}" >
  </div>
  <div vue-component="items-renderer"></div>
  <div vue-component="graph-renderer"></div>
  <div vue-component="pdf-builder"></div>
</div>

<script src="/static/js/data-display/{{config['DATA_DISPLAY_VERSION']}}/data-display.js"></script>
<script src="/static/js/data-display/{{config['DATA_DISPLAY_VERSION']}}/items-renderer.js"></script>
<script src="/static/js/data-display/{{config['DATA_DISPLAY_VERSION']}}/graph-renderer.js"></script>
<script src="/static/js/data-display/{{config['DATA_DISPLAY_VERSION']}}/pdf-builder.js"></script>

<script>
const inline_help_file_name = "form_answers.j2.md";
</script>

{% endblock %}
