{% extends "base-backend.html" %}
{% block content %}

<!-- wizard_page -->

{% set show_continue_button = consent_url.endswith("/new") and consent_url != go_back_url %}

<div class="grid align-items-center ds-header-title-with-button">
  <div class="g-col-12 {% if show_continue_button %}g-col-md-8{%endif%} ds-title-with-icon-return">
    <a href="#" arial-label="return" onclick="go_back()"><i data-feather="arrow-left"></i></a>
    <h1>{{ _("Privacy statement wizard") }} (beta)</h1>
  </div>
  {% if show_continue_button %}
  <div class="g-col-12 g-col-md-4">
    <a class="btn btn-sm btn-primary" role="button" href="{{ consent_url }}">{{ _("Continue without the wizard") }}</a>
  </div>
  {% endif %}
</div>

<div class="grid mt-3">
  <div class="g-col-12">
    <p class="mb-1">
      {{ _("Answer these questions and copy the result") }}.
      <a href="#" onclick="toggleInlineHelp('wizard.j2.md')">{{ _("Learn more") }}</a>
    </p>
    <p class="mb-0">
      {% set dislaimer_link = '<a href="#" data-bs-toggle="modal" data-bs-target="#disclaimer-modal">%s</a>' % _("Disclaimer") %}
      {{ _("Please read our %(dislaimer_link)s", dislaimer_link=dislaimer_link|safe ) }}
    </p>
  </div>
</div>

{% set is_disclaimer_accepted = current_user.preferences["wizard_disclaimer"] %}
{# save the changing value here for the Vue component to get on Copy #}
<input id="is_disclaimer_accepted" type="hidden" value="{{is_disclaimer_accepted|tojson}}" />

<div class="ds-wrapper-white mt-3">
  <div vue-component="gdpr-wizard"
       data-data_endpoint="{{ endpoint }}"
       data-org_endpoint="{{ url_for('consent_bp.set_user_default_organization') }}"
       data-consent_id="{{ consent_id if consent_id else '' }}"
       data-consent_url="{{ consent_url }}"
       data-data_law="{{ g.site.data_protection['law'] }}"
       data-ui_language="{{ g.language }}"
       data-fallback_consent_language="{{ g.site.language if scope=='site' else g.language }}"
       data-csrf_token="{{ csrf_token() }}">
  </div>
</div>

<div id="disclaimer-modal" class="modal fade" tabindex="-1" aria-labelledby="disclaimer-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="disclaimer-modal-label">{{ _("Wizard disclaimer") }}</h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
      </div>
      <div class="modal-body">
        {{ disclaimer|safe }}
      </div>
      <div class="modal-footer justify-content-between">
        <div class="form-check my-3">
          <label class="form-check-label fw-bold" for="disclaimer-check">
            {{ _("I have read and understood") }}<span class="ds-required" arial-label="required"></span>
          </label>
          <input id="disclaimer-check" type="checkbox" class="form-check-input consent" data-bs-dismiss="modal" {% if is_disclaimer_accepted %}checked{% endif %} onclick="setWizardDisclaimerPref()" />
        </div>
      </div>
    </div>
  </div>
</div>
<input id="vue_modal_hook" type="hidden" />

<script src="/static/js/gdpr-wizard/gdpr-wizard.js"></script>

<script>
const inline_help_file_name = "wizard.j2.md";

$("#vue_modal_hook").change(function() {
  let modal = new bootstrap.Modal(document.getElementById('disclaimer-modal'))
  modal.show()
});
function setWizardDisclaimerPref() {
  $.ajax({
      url : "{{url_for('consent_bp.accept_wizard_disclaimer')}}",
      type: "POST",
      processData: false,
      contentType: false,
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
      },
      success: function(data, textStatus, jqXHR)
      {
        $("#disclaimer-modal").find("input[type=checkbox]").prop("selected", data.is_disclaimer_accepted)
        $("#is_disclaimer_accepted").val(data.is_disclaimer_accepted)
      }
  });
}
function go_back() {
  window.sessionStorage.removeItem('wizard')
  window.location = "{{ go_back_url }}"
}
</script>

{% endblock %}
