{% extends "base-backend.html" %}
{% block content %}

<!-- delete_unvalidated_user_account_page -->

<div class="modal" id="delete_account_modal" tabindex="-1" role="dialog" data-bs-backdrop="false" aria-labelledby=delete_account_modalLabel">
  <div class="modal-dialog" role="document">
    <form name="deleteAccountForm" method="POST" autocomplete="off">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delete_account_modalLabel">{{ _("Delete your account") }}</h5>
        </div>
        <div class="modal-body my-4">
          <p>{{ _("Just in case, write your username and password below.") }}</p>

            {{ wtform.csrf_token }}
            <div class="grid">
              <div class="form-group g-col-12 g-col-lg-6">
                {{ wtform.delete_username.label(for="deleted_username", class="visually-hidden") }}
                {{ wtform.delete_username(class_="form-control", placeholder=_("Username"))}}
                {% for error in wtform.delete_username.errors %}
                  <span class="wtf-error ds-error-message">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="form-group g-col-12 g-col-lg-6">
                {{ wtform.delete_password.label(for="deleted_password", class="visually-hidden") }}
                {{ wtform.delete_password(class_="form-control",
                                          autocomplete="new-password",
                                          placeholder="password" )
                }}
                {% for error in wtform.delete_password.errors %}
                  <span class="wtf-error ds-error-message">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-outline-secondary" role="button" href="{{ url_for('user_bp.validate_to_continue')}}">{{ _("Cancel") }}</a>
          <input class="btn btn-danger" type="submit" value="{{ _('Delete account') }}" />
        </div>
      </div>
    </form>
  </div>
</div>

<script>

$(document).ready(function(){
  $('#delete_account_modal').modal('show');
});
$("#delete_account_modal").on('hide.bs.modal', function() {
  $('#delete_account_modal').modal('show');
});
$("form[name=deleteAccountForm]").parsley().on('field:validate', function(field) {
  $(field.element).closest('.form-group').find('.wtf-error').remove()
})
</script>

{% endblock %}
