/*
 * Classes
 *
 */


.ds-consent-container {
  border-top: 1px dotted;
  margin-top: 1em;
  padding-top: 1em;
  label {
   font-weight: normal !important;
  }
}

// seen when admin previews the new user form
.ds-wrapper-white {
  border-top-style: solid;
  border-top-width: 1px;
  background-color: $white;
  padding: $spacer;
}

h2 {
  margin-top: calc($spacer*1.5);
  margin-bottom: calc($spacer*0.75);
  border-bottom: 1px dotted currentColor;
  font-size: $font-size-sm;
  text-transform: uppercase;
}
