

<div class="alert alert-{{ category }} alert-dismissible d-flex justify-content-between align-items-center flash_message" role="alert">
  <div>{{ message }}</div>
  <button type="button" data-bs-dismiss="alert" aria-label="Close">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
  </button>
</div>
