/*
 * formBuilder js library
 *
 * Have to be here.
 *
 */

/*
* SPDX-FileCopyrightText: 2023 LiberaForms.org
* SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* Form render, rendered, builder */
#fb-render,
#fb-renderer,
#fb-editor {
  h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px dotted currentColor;
    // font-size: var(--lf-body-font-size);
    font-size: $font-size-sm;
    text-transform: uppercase;
  }

  .form-group > label {
    font-weight: $font-weight-bold;
    margin-bottom: calc($spacer * .5);
  }
  .form-text {
    font-size: .75rem;
    font-weight: normal;
  }
  .form-control {
    border-radius: 0;
    font-size: inherit;
    height: initial;
    line-height: inherit;
    padding: .375rem .75rem;
  }
  .field-label {
    color: var(--lf-body-color);
    font-size: var(--lf-body-font-size);
    line-height: var(--lf-body-line-height);
    margin-bottom: calc($spacer * .5);
  }
  // Checkbox, radio
  .formbuilder-checkbox,
  .formbuilder-radio{
    @extend .form-check;
    label {
      @extend .form-check-label;
      font-size: var(--lf-small-font-size);
    }
    input {
      @extend .form-check-input;
    }
  }

  // Checkbox, radio inline
  .formbuilder-checkbox-inline,
  .formbuilder-radio-inline {
    @extend .form-check;
    @extend .form-check-inline;
    label {
      @extend .form-check-label;
    }
    input {
      @extend .form-check-input;
    }
  }

  // Mod required asterisk
  .required-asterisk,
  .formbuilder-required {
    color: var(--lf-danger);
  }

  select {
    @extend .form-select;
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23272727' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  }

}

/* Form render, rendered */
#fb-renderer,
#fb-render {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: $spacer;
    margin-top: calc($spacer * 3);
    padding-bottom: calc($spacer * .5);
  }
  // The section header element of a form
  h2 {
    margin-top: calc($spacer * 2);
  }
  p {
    margin-bottom: calc($spacer * 1.5);
  }
  .form-group {
    margin-bottom: calc($spacer * 2);
  }
  .form-text {
    display: block;
    line-height: 125% !important;
    margin-top: 0.35rem;
    color: inherit;
  }
  .form-field-description {
    display: block;
    font-weight: normal;
  }
  // Checkbox, radio inline. Reposition Bootstrap default.
  .formbuilder-checkbox-group input[type="checkbox"],
  .formbuilder-checkbox-group input[type="radio"],
  .formbuilder-radio-group input[type="checkbox"],
  .formbuilder-radio-group input[type="radio"] {
    margin-top: .25em;
    margin-left: -1.5em;
  }
}

/* Form builder */
#fb-editor {
  h1, h2, h3, h4, h5, h6 {
    margin-top: $spacer;
    padding-bottom: calc($spacer * .5);
  }
  /*
   * Hide:
   * textarea's tinymce
   * quill editor type options
   * these field attribute
   */
  li.textarea-field div.subtype-wrap,
  .other-wrap,
  .maxlength-wrap,
  .field-options .option-value{
    display: none;
  }
  /* remove tooltip */
  .tooltip-element {
    background-color: var(--lf-info);
    display: none !important;
  }
  .frmb {
    list-style: none;
    > li {
      padding: $spacer;
      &:hover,
      &:active,
      &:focus,
      &.editing {
        background-color: var(--lf-gray-200);
        border-color: var(--lf-gray-300);
        box-shadow: none;
      }
      > .field-label {
        font-weight: $font-weight-bold;
      }
    }
    li:first-child,
    li:last-child {
      border-radius: 0;
    }
  }
  .frmb .field-actions .btn:first-child {
    border-bottom-left-radius: 0;
  }
  .frmb .form-elements .add {
    border-color: var(--lf-primary);
    border-radius: 0;
    font-size: var(--lf-small-font-size);
    padding: calc(var(--lf-magic-number) / 4) calc(var(--lf-magic-number) / 2);
    text-decoration: none;
    // @include button-outline-variant( $color: $blue );
    // @include button-size( $padding-y: 2.5rem, $padding-x: 2.5rem, $font-size: .875rem, $border-radius: 0 );
    // @extend .btn-sm;
    // @extend .btn-outline-primary;
  }
  .frmb .form-elements {
    background-color: transparent;
    border-radius: 0;
    border: none;
    padding: $spacer;
  }
  .frmb .close-field {
    bottom: 0;
    border-radius: 0;
    color: var(--lf-gray-500);
    text-decoration: none;
  }
  .frmb .sortable-options input[type="text"] {
    width: 90%;
  }
  .frmb-control {
    li:before {
      color: var(--lf-gray-500);
      font-size: var(--lf-small-font-size);
    }
    li:first-child,
    li:last-child {
      border-radius: 0;
    }
  }
  .label-description {
    display: block;
    margin-bottom: $spacer;
  }
}
