{% extends "base-backend.html" %}
{% block content %}

<!-- edit_form_page -->

<script src="{{ url_for('static', filename='vendor/formBuilder/form-builder.min.js') }}"></script>

{% set show_edit_mode_alert = current_user.preferences['show_edit_alert'] and
                              form.enabled and not
                              editing_preview %}

{% if show_edit_mode_alert %}
  {% include 'user/alerts/edit-mode-alert-modal.html' %}
{% endif %}


<div class="grid align-items-center ds-header-title-with-button">
  <div class="g-col-6 ds-title">
    <h1>{{ form.name }}</h1>
  </div>
  <div class="g-col-6">
    <form class="d-inline" action="{{url_for('form_bp.cancel_edition', form_id=form.id, killed=False|int)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button type="submit" class="btn btn-sm btn-outline-primary">{{ _("Cancel") }}</button>
    </form>
    <form name="previewForm" class="d-inline" action="{{url_for('form_bp.preview_edition', form_id=form.id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" name="preview_structure" />
      <button id="preview_edition" type="button" class="btn btn-sm btn-outline-primary">{{ _("Preview changes") }}</button>
    </form>
    <form name="saveForm" class="d-inline" action="{{url_for('form_bp.save_form', form_id=form.id)}}" method="POST" >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" id="structure" name="structure" />
      <button id="save_form" type="button" class="btn btn-sm btn-primary">{{ _("Save") }}</button>
    </form>
  </div>
</div>

<div class="grid">
  <div class="g-col-12 mt-3">
    <p class="mb-0">
      {{ _("Add, remove and configure this form's fields.") }}
      <a href="#" data-bs-toggle="modal" onclick="toggleInlineHelp('form_edit.j2.md')">{{ _("Learn more") }}</a>
    </p>
  </div>
</div>

<div id="builder-container" class="grid mt-3">
  <div class="g-col-12 ds-wrapper-white">
    <div id="fb-editor"></div>
  </div>
</div>

<div class="grid">
  <div class="g-col-12 mt-3">
    <div class="g-col-6">
      <form name="secondary-cancelEdition" class="d-inline" action="{{url_for('form_bp.cancel_edition', form_id=form.id, killed=False|int)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button type="submit" class="btn btn-outline-primary">{{ _("Cancel") }}</button>
      </form>
      <form name="secondary-previewForm" class="d-inline" action="{{url_for('form_bp.preview_edition', form_id=form.id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="preview_structure" />
        <button id="secondary_preview_edition" type="button" class="btn btn-outline-primary">{{ _("Preview changes") }}</button>
      </form>
      <form name="secondary-saveForm" class="d-inline" action="{{url_for('form_bp.save_form', form_id=form.id)}}" method="POST" >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" id="structure" name="structure" />
        <button id="secondary_save_form" type="button" class="btn btn-primary">{{ _("Save") }}</button>
      </form>
    </div>
</div>
</div>


<script>
  const inline_help_file_name = "form_edit.j2.md";
  jQuery(function($) {
    {% if show_edit_mode_alert %}
      let edit_alert_modal = new bootstrap.Modal(document.getElementById("edit-alert-modal"))
      edit_alert_modal.show()
    {% endif %}

    const formEditor = document.getElementById("fb-editor");
    var disabledAttrs = {{ config['FORMBUILDER_DISABLED_ATTRS'] | tojson }};
    var disabledSubtypes = {{ config['FORMBUILDER_DISABLED_SUBTYPES'] | tojson }};
    disabledAttrs.push("name");
    var disabledFields = {{ config['FORMBUILDER_DISABLED_FIELDS'] | tojson }}
    if ({{ current_user.can_upload() | tojson }} !== true) {
      disabledFields.push("file");
    }
    var formData = {{ form.structure | tojson }};
    console.log(formData)
    var options = {
      formData: formData,
      showActionButtons: false,
      disableFields: disabledFields,
      disabledAttrs: disabledAttrs,
      disabledSubtypes: disabledSubtypes,
      editOnAdd: true,
      stickyControls: {
        enable: true,
        offset: { top: 70, right: 20, left: 'auto' }
      },
      disableHTMLLabels: false,
      /* disableInjectedStyle: true, Form Builder remove styles */
      replaceFields: [
        {
          type: "checkbox-group",
          label: "{{ _('Multiple choice') }}",
          {# i18n: Placeholder for option name in Multiple choice fields#}
          values: [{ label: "{{ _('Option') }}", value: " " }],
        },
        {
          type: "radio-group",
          label: "{{ _('Single choice') }}",
          values: [
                    { label: "{{ _('Option 1') }}", value: " " },
                    { label: "{{ _('Option 2') }}", value: " " }
                  ],
        },
        {
          type: "select",
          label: "{{ _('Dropdown options') }}",
          values: [
                    { label: "{{ _('Option 1') }}", value: " " },
                    { label: "{{ _('Option 2') }}", value: " " }
                  ],
        },
        {
          type: "header",
          label: "{{ _('Section header') }}",
        },
      ],
      typeUserEvents: {
        file: {
          onadd: function (fld) {
            // hide unwanted fields
            $('.placeholder-wrap', fld).hide();
            $('.subtype-wrap', fld).hide();
          }
        },
        select: {
          onadd: function (fld) {
            $('.placeholder-wrap', fld).hide();
          }
        },
        radio: {
          onadd: function (fld) {
            $('.placeholder-wrap', fld).hide();
          }
        },
        date: {
          onadd: function (fld) {
            $('.placeholder-wrap', fld).hide();
            $('.value-wrap', fld).hide();
          }
        },
        number: {
          onadd: function (fld) {
            $('.placeholder-wrap', fld).hide();
          }
        },
        header: {
          onadd: function (fld) {
            $('.subtype-wrap', fld).hide();
          }
        },
        paragraph: {
          onadd: function (fld) {
            $('.subtype-wrap', fld).hide();
          }
        },
      },
      controlOrder: {{ config['FORMBUILDER_CONTROL_ORDER'] | tojson }},
      i18n: {
          locale: "{{ iso_lang_code }}",
          location: "/static/vendor/formBuilder/i18n",
      },
      layoutTemplates: {
        default: function(field, label, help, data) {
          if(help) {
            label=$("<span class='label-description'></span>");
            label.append(help.attributes.tooltip.textContent);
          } else {
            label=$("<span style='display:none'></span>");
          }
          return $('<div/>').append(label, field, help);
        }
      }
    };
    const formBuilder = render_formEditor(formEditor, options);
    document.getElementById('save_form').addEventListener('click', function(evt) {
      $('input[name=structure]').val(formBuilder.actions.getData('json', true));
      $("form[name=saveForm]").submit();
    });
    document.getElementById('preview_edition').addEventListener('click', function(evt) {
      $('input[name=preview_structure]').val(formBuilder.actions.getData('json', true));
      $("form[name=previewForm]").submit()
    });
    document.getElementById('secondary_save_form').addEventListener('click', function(evt) {
      $('input[name=structure]').val(formBuilder.actions.getData('json', true));
      $("form[name=secondary-saveForm]").submit();
    });
    document.getElementById('secondary_preview_edition').addEventListener('click', function(evt) {
      $('input[name=preview_structure]').val(formBuilder.actions.getData('json', true));
      $("form[name=secondary-previewForm]").submit()
    });
  });
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
  function render_formEditor(formEditor, options) {
    var builder = $(formEditor).formBuilder(options);
    sleep(1000).then(() => { // give formbuilder time to render

    {% for field in multichoiceOptionsWithSavedData %}
      {% for value in multichoiceOptionsWithSavedData[field] %}
      option_value = $('input[name="{{field}}-option"][class="option-value"][value="{{value}}"]')
      container = option_value.closest('li')
      option_value.prop("disabled", true)
      option_label = container.find(".option-label")
      option_label.prop("disabled", true)
      container.prop("title", "{{ _('Cannot modify it because an answer with this value already exists in the database') }}")
      {% endfor %}
    {% endfor %}
    });
    return builder
  }

  // enable the user to uncheck radio buttons
  /*
  $("#fb-editor").on("click", "input[type=radio]", function (event) {
      if ($(this).closest(".formbuilder-radio") !== undefined) {
          var check = $(this).attr('checked')
          if (check) {
              $(this).removeAttr('checked').prop('checked',false)
          } else {
              $(this).attr('checked', true).prop('checked',true)
          }
      }
  });
  */
{# include 'partials/post-render-scripts.js' #}
</script>

{% endblock %}
