{% extends "base-backend.html" %}
{% block content %}

<!-- fedi_publish_page -->

{% with active_item="settings", sub_option=True %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

<div class="ds-narrow-container">

  <div class="grid ds-header-title-nested mt-2">
    <div class="g-col-12 publishingPreview ds-title-with-icon-return">
      <a href="{{url_for('form_bp.form_details', form_id=form.id)}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h2>
        {# i18n: node_name stands for name of a Fediverse node: 'Publish on barcelona.social'#}
        {{ _("Publish on %(node_name)s", node_name=connection_title) }}
      </h2>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">
      {{ ngettext("This form has been posted on the Fediverse once",
                  "This form has been posted on the Fediverse %(number)s times",
                  form.published_cnt,
                  number=form.published_cnt) }}.
      </p>
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <form name="fediPublish" method="POST">
        {{ wtform.csrf_token }}
        <input name="image_source" type="hidden" value="{{wtform.image_source.data}}" />
        {% if wtform.image_source.data %}
          <img class="img-fluid mt-1 ds-form-header-image" src="{{wtform.image_source.data}}" />
        {% endif %}
        <div class="form-group mt-4">
          {{ wtform.text.label(class_="form-label") }}
          {{ wtform.text(class_="form-control", rows="7") }}
          <div class="form-text mt-2">
            {{ _("Total characters:") }} <span id="char_count"></span>
          </div>
          {% for error in wtform.text.errors %}
            <span class="wtf-error ds-error-message">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="mt-4">
          <button class="btn btn-primary" type="submit" {% if not form.is_public() %}disabled{% endif %}>{{ _('Publish') }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "form_fediverse_publish.j2.md";

const parsley_options = {
  errorsContainer: function (field) {
    return $(field.element).closest(".form-group")
  }
}
$('form[name=fediPublish]').parsley(parsley_options).on('field:validate', function(field) {
  $(field.element).closest('.form-group').find('.wtf-error').remove()
  $("input[type=submit]").prop("disabled", false);

})

function update_total_chars(){
  var total_chars = $('textarea[id=text]').val().length;
  $("#char_count").html(total_chars);
}

$(document).ready(function() {
  update_total_chars();
});

$("form").submit(function( event ) {
  $("input[type=submit]").prop("disabled", true);
  return;
});

$('textarea[id=text]').on("input", function(){
  update_total_chars();
});
</script>

{% endblock %}
