{% extends "base-backend.html" %}
{% block content %}

<!-- editor_form_options_page -->

{% if viewer_role is not defined %}
  {% set viewer_role = "editor" %}
{% endif %}

{% with active_item="options",
        total_answers=form.get_total_answers() %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}


<div class="ds-narrow-container">

  <div class="grid ds-header-title-nested ds-no-border mt-2">
    <div class="g-col-12 d-flex align-items-center justify-content-between">
      <h2>{{ _("Form options") }}</h2>
      <div>
        {% if form.edit_mode and viewer_role == "editor" %}
          <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#edit-mode-modal-{{form.id}}">{{ _("Cancel edition") }}</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="grid mt-1">
    <div class="g-col-12">
      {% include 'form/partials/publish-options.html' %}
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      {% include('partials/form-options.html') %}
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      {% include('partials/answer-options.html') %}
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      {% include 'form/partials/confirmation.html' %}
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      {% include('partials/permissions.html') %}
    </div>
  </div>

  <!-- Form embed code -->
  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h2>{{ _("Embedded form code") }}</h2>
        </div>
        <div class="card-body">
          <p>{{ _("HTML code to embed the form in a website.") }}</p>
          <div id="embed_snippet">
            <code>
              {{'<iframe width="500" height="600" frameborder="0" src="'}}{{form.get_embed_url()}}{{'"></iframe>'}}
            </code>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      {% include('partials/api-endpoint.html') %}
    </div>
  </div>

</div>

<script>
const inline_help_file_name = "form_options.j2.md";
</script>

{% endblock %}
