{% extends "base-backend.html" %}
{% block content %}

<!-- log_list_page -->

{% with active_item="options", sub_option=True %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

<div class="ds-narrow-container">

  <div class="grid ds-header-title-nested mt-2">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('form_bp.form_details', form_id=form.id) }}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h2>{{ _("Log") }}</h2>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("A chronological list of changes and editions.") }}</p>
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <div class="table-responsive">
        <table class="table table-sm align-middle">
          <tbody>
            {% set avatars = {} %}
            {% for log in form.log %}
            <tr>
              <td class="text-nowrap">
                {% set username = log.username %}
                {% if username not in avatars %}
                  {% set user = User.find(username=username) %}
                  {% if user %}
                    {% set _ = avatars.update({username: user.get_avatar_src()}) %}
                  {% else %}
                    {% set _ = avatars.update({username: "/file/media/avatars/default.png"}) %}
                  {% endif %}
                {% endif %}
                <span class="ds-avatar-sm"><img src="{{avatars[username]}}" alt="" class="rounded-circle" /></span>
                {{log.username}}
              </td>
              <td>{{log.created.astimezone(g.timezone).strftime('%Y-%m-%d %H:%M:%S')}}</td>
              <td>{{log.message|safe}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<script>
const inline_help_file_name = "form_listlog.j2.md";
</script>

{% endblock %}
