{% extends "base-backend.html" %}
{% block content %}

<!-- list_templates_page -->

<div class="grid ds-header-title">
  <div class="g-col-12 g-col-md-6 ds-title-with-icon-return">
    <a href="{{url_for('form_bp.create_new_form')}}" arial-label="return"><i data-feather="arrow-left"></i></a>
    <h1>{{ _("Form templates") }}</h1>
  </div>
</div>

<div class="grid mt-3">
  <div class="g-col-12">
    <p class="mb-0">{{ _("Choose the template that best suits your needs and edit to fit") }}.</p>
  </div>
</div>

<div class="grid mt-3">
  {% for template in templates %}
  <div class="g-col-12 g-col-md-6 g-col-lg-4 ds-item-template">
    <div class="card">
      <div class="card-body">
        <h2>{{ template['name'] }}</h2>
        <p>{{ template['description'] }}</p>
      </div>
      <div class="card-footer">
        <p class="mb-0"><a href="{{url_for('form_bp.view_template', template_id=template['id'])}}">{{ _("Show more") }} <i data-feather="arrow-right" width="16" height="16" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>
  {% set decimal = ((loop.index/3)|string).split('.')[1] %}
  {% if decimal == "0" %}
  {% endif %}
  {% endfor %}
</div>

<script>
const inline_help_file_name = "forms_templates.j2.md";
</script>

{% endblock %}
