{% extends "base-frontend.html" %}
{% block content %}

{# Future idea: Fonts https://www.design-research.be/by-womxn/ #}

<!-- form_style_page -->

{% if not previewing_edition %}
  {% with modal_id="insert_background_image_modal",
          form_id="insert_background_image_form",
          modal_title=_("Background image") %}
    {% include 'common/insert-image-modal.html' %}
  {% endwith %}
  {% with modal_id="insert_header_image_modal",
          form_id="insert_header_image_form",
          modal_title=_("Featured image") %}
    {% include 'common/insert-image-modal.html' %}
  {% endwith %}
  {% with form_id=form.id %}
    {% include 'form/modals/color-selector-modals.html' %}
  {% endwith %}
{% endif %}


<div class="grid align-items-start fixed-top ds-header-title-with-button">
  {% if previewing_edition %}
  <div class="g-col-2"></div>
  <div class="g-col-10">
    <nav class="navbar-expand-lg ds-accions-look-and-feel">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#formActions" aria-controls="formActions" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </button>
      <div class="navbar-collapse collapse mt-1 gap-2" id="formActions">
        <form class="d-inline" action="{{url_for('form_bp.cancel_edition', form_id=form.id, killed=False|int)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button type="submit" class="btn btn-sm btn-outline-primary">
            {{ _("Cancel") }}
          </button>
        </form>
        <button type="button" class="btn btn-sm btn-outline-primary" onclick="document.location='{{url_for('form_bp.edit_form', form_id=form.id, preview=True)}}'">
          {{ _("Edit again") }}
        </button>
        <form class="d-inline" action="{{url_for('form_bp.save_form', form_id=form.id, preview=True)}}" method="POST" >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button type="submit" class="btn btn-sm btn-primary">
            {{ _("Save changes") }}
          </button>
        </form>
      </div>
    </nav>
  </div>
  {% else %}
  <div class="g-col-7">
    <nav class="navbar-expand-lg ds-accions-look-and-feel">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#styleActions" aria-controls="styleActions" aria-expanded="false" aria-label="Toggle style options">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-feather"><path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z"></path><line x1="16" y1="8" x2="2" y2="22"></line><line x1="17.5" y1="15" x2="9" y2="15"></line></svg>
      </button>
      <div class="navbar-collapse collapse mt-1 gap-2" id="styleActions">
        <button class="btn btn-outline-primary btn-sm" type="button" onclick="$('#insert_header_image_modal').modal('show'); return false;">{{ _("Featured image") }}</button>
        <button class="btn btn-outline-primary btn-sm" type="button" onclick="$('#font_color_selector_modal').modal('show'); return false;">{{ _("Font color") }}</button>
        <button class="btn btn-outline-primary btn-sm" type="button" onclick="$('#background_color_selector_modal').modal('show'); return false;">{{ _("Background color") }}</button>
        <button class="btn btn-outline-primary btn-sm" type="button" onclick="$('#insert_background_image_modal').modal('show'); return false;">{{ _("Background image") }}</button>
        <button class="btn btn-outline-dark btn-sm" type="button" onclick="javascript:clearStyle(); this.blur()">{{ _("Clear") }}</button>
      </div>
    </nav>
  </div>

  <div class="g-col-5">
    <button class="btn btn-primary btn-sm mt-1" type="button" onclick="document.location='{{go_back_url}}'">{{ _("Go back") }}</button>
  </div>
  {% endif %}
</div>

<div class="grid mt-5 pt-sm-5">
  <div class="g-col-12 g-col-sm-10 g-start-sm-2 g-col-md-8 g-start-md-3 g-col-lg-6 g-start-lg-4 g-col-xxl-4 g-start-xxl-5">
  {% with preview_only=True %}
    {% include 'public_form/partials/view-form.html' %}
  {% endwith %}
  </div>
</div>

{% if not previewing_edition %}
<script>
{% include 'form/js/form_style.js' %}

// triggered at common/insert-image-modal.html
$(document).on("add_header_image", function(event) {
  $('#insert_header_image_modal').modal('hide');
  let initial_image_src = $("#header_image").attr("src")
  let image_url = $("#insert_header_image_form").find('#image_url').val().trim()
  $("#header_image").prop("src", image_url)
  $("#header_image").show()
  $.ajax({
    url : "{{ url_for('form_style_bp.set_header_image', form_id=form.id) }}",
    type: "POST",
    dataType: "json",
    data: { "image_url": image_url },
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    error: function(data, textStatus, jqXHR)
    {
      $("#header_image").attr("src", initial_image_src)
      if (! initial_image_src) {
        $("#header_image").hide()
      }
    }
  });
});

</script>
{% endif %}

{% endblock %}
