{% extends "base-backend.html" %}
{% block content %}

<!-- form_qr_page -->

{% with active_item="options", sub_option=True %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

<div class="ds-narrow-container mt-2">

  <div class="grid ds-header-title-nested ds-no-border">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('form_bp.form_details', form_id=form.id) }}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h2>{{ _("This form's QR") }}</h2>
    </div>
  </div>

  <div class="grid mt-1 ds-wrapper-white">
    <div class="g-col-12">
      <p class="my-1">{{ form.url }}</p>
      <svg id="qr-container" width="355" height="355" class="mb-2">
        {{ form.get_qr() | safe }}
      </svg>
      <div class="mt-4">
        <button class="btn btn-outline-primary" onclick="javascript:downloadSVG()">{{ _("Download SVG") }}</button>
        <a class="btn btn-primary" href="{{ url_for('form_bp.form_qr', form_id=form.id, as_png=True) }}">{{ _("Download image") }}</a>
      </div>
    </div>
  </div>

</div>

<script>
const inline_help_file_name = "form_qr.j2.md";
function downloadSVG() {
  const svg = document.getElementById('qr-container').innerHTML;
  const blob = new Blob([svg.toString()]);
  const element = document.createElement("a");
  element.download = "{{ form.slug }}-QR.svg";
  element.href = window.URL.createObjectURL(blob);
  element.click();
  element.remove();
}
</script>

{% endblock %}
