{% extends "base-backend.html" %}
{% block content %}

<!-- user_change_language_page -->

<div class="ds-narrow-container">
  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{url_for('user_bp.user_settings', username=current_user.username)}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Preferred language") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("Read LiberaForms in your preferred language.") }}</p>
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
        {% for key in config['LANGUAGES'] %}
        <div class="radio-group mt-1">
            <input type="radio" id="customRadio{{loop.index}}" name="language" value="{{ key }}" {% if key == current_language %}checked{% endif %} >
            <label  for="customRadio{{loop.index}}">{{ config['LANGUAGES'][key][0] }}</label>
        </div>
        {% endfor %}
        </div>

        <p class="mt-4">{{ _("Can't find your language?") }} <a href="#" onclick="toggleInlineHelp('user_changelanguage.j2.md')">{{ _("Learn more") }}</a></p>

        <div class="mt-4">
          <input class="btn btn-primary" type="submit" value="{{ _('Save') }}">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "user_changelanguage.j2.md";

</script>

{% endblock %}
