{% extends "base-backend.html" %}
{% block content %}

<!-- delete_account_page -->

<div class="ds-narrow-container">
  <div class="grid ds-header-title ds-no-border">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{url_for('user_bp.user_settings', username=current_user.username)}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Delete your account") }}</h1>
    </div>
  </div>

  <div class="grid mt-1">
    <div class="g-col-12 ">
      <p class="alert alert-danger ds-alert mb-0">{{ _("You will delete your account and the following data") }}. {{ _("This is irreversible!") }}</p>
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h2>{{ _("Data you will delete") }}</h2>
        </div>
        <div class="card-body">
          <ul class="ds-list-group">
            <li>
              <span>{{ _("The forms you have created") }}</span>
              <span><strong>{{ current_user.authored_forms_total() }}</strong></span>
            </li>
            <li>
              <span>{{ _("The replies to those forms") }}</span>
              <span><strong>{{ current_user.get_answers().count() }}</strong></span>
            </li>
          </ul>
          <p>{{forms_with_editors}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid mt-4 ds-wrapper-white">
    <div class="g-col-12">
      <p>{{ _("Just in case, write your username and password below.") }}</p>
      <form name="deleteAccountForm" method="POST" autocomplete="off">
        {{ wtform.csrf_token }}
        <div class="grid">
          <div class="form-group g-col-12 g-col-lg-6">
            {{ wtform.delete_username.label(for="deleted_username", class="visually-hidden") }}
            {{ wtform.delete_username(class_="form-control", placeholder=_("Username")) }}
            {% for error in wtform.delete_username.errors %}
              <span class="wtf-error ds-error-message">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="form-group g-col-12 g-col-lg-6">
            {{ wtform.delete_password.label(for="deleted_password", class="visually-hidden") }}
            {{ wtform.delete_password(class_="form-control",
                                      autocomplete="new-password",
                                      placeholder=_("Password"))
            }}
            {% for error in wtform.delete_password.errors %}
              <span class="wtf-error ds-error-message">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="mt-4">
          <input class="btn btn-danger" type="submit" value="{{ _('Delete account') }}" />
          <a class="btn btn-outline-secondary" role="button" href="{{ url_for('user_bp.user_settings')}}">{{ _("Cancel") }}</a>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "user_deleteaccount.j2.md";

$("form[name=deleteAccountForm]").parsley().on('field:validate', function(field) {
  $(field.element).closest('.form-group').find('.wtf-error').remove()
})
</script>

{% endblock %}
