{% extends "base-backend.html" %}
{% block content %}

<!-- fediverse_config_page -->
<!-- https://tools.splat.soy/pleroma-access-token/ -->

<div class="ds-narrow-container">
  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="/user/{{current_user.username}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Fediverse connect") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("Publish your forms on the descentralized social media network.") }}</p>
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <form id="save_token_form"
            action="{{ url_for('user_bp.fediverse_config')}}"
            method="POST">
        {{ wtform.csrf_token }}
        <div class="form-group">
          {{ wtform.title.label( for="connection_title",
                                class_="form-label")
          }}
          {# i18n: Used to identify which of their account did the user connected to, in case they have more than one on the Fediverse. #}
          {{ wtform.title( class_="form-control",
                          id="connection_title",
                          onInput="$('.title_input_error').remove()",
                          aria_describedby="usernameHelp")
          }}
          <div id="usernameHelp" class="form-text">{{ _("Username or description. Example: My account at node.fediverse") }}</div>
          {% for error in wtform.title.errors %}
            <span class="wtf-error title_input_error wtf-error ds-error-message">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="form-group mt-4">
          {{ wtform.node_url.label( for="node_url",
                                    class_="form-label")
          }}
          {{ wtform.node_url( class_="form-control",
                              id="node_url",
                              aria_describedby="urlHelp")
          }}
          <div id="urlHelp" class="form-text">{{ _("Example") }}: https://node.fediverse</div>
        </div>
        <div class="form-group mt-4">
          <div class="d-flex align-items-center justify-content-between my-2">
            {{ wtform.access_token.label }}
            <div>
            <button id="toggle-token-display-button" class="btn btn-sm btn-outline-secondary" type="button" show="false" title="{{ _('Show / Hide') }}" style="display: none">{{ _('Show / Hide') }}</button>
            <button class="btn btn-sm btn-outline-secondary" type="button" id="generate_btn" name="btn">{{ _("Generate") }}</button>
            </div>
          </div>
          {{ wtform.access_token() }}
          <div>
            <input id="access_token_display" class="form-control" required type="text" aria-label="{{ _('Access token') }}" autocomplete="off" value="">
          </div>
          {% for error in wtform.access_token.errors %}
            <span class="wtf-error ds-error-message">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="mt-4">
          <button id="delete_config" class="btn btn-danger" type="button" onclick="javascript:$('form#delete_config').submit()">{{ _("Delete") }}</button>
          <button id="save_config" class="btn btn-primary" type="button" onclick="javascript:$('form#save_token_form').submit()">{{ _("Save") }}</button>
        </div>
      </form>

      <div style="display:none;">
        <input type="text" id="client_name" value="LiberaForms" />
        <input type="text" id="website" value="{{ config['BASE_URL'] }}" />
        <input type="text" id="pleroma_url" value="" />
        <span id="client_id"></span>
        <span id="client_secret"></span>
      </div>

    </div>
  </div>

  <form id="delete_config" action="{{url_for('user_bp.fediverse_delete')}}" method="post" style="display:none">
    {{ wtform.csrf_token }}
  </form>
</div>

<script>
  const inline_help_file_name = "user_fediverse.j2.md";
  var hidden_token = "● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ●"
  var parsley_options = {
    errorsContainer: function (field) {
      return $(field.element).closest(".form-group")
    }
    //errorsContainer: function (field) {
    //  if ($(field.element).prop('id') == 'access_token_display') {
    //    return $("#token_display_container")
    //  }
    //}
  }
  $(function () {
    $('#save_token_form').parsley(parsley_options)
  })
  function elem(el) {
  	return document.getElementById(el);
  }

  $(document).ready(function() {
    elem('pleroma_url').value = elem("node_url").value
    var access_token_value = elem("access_token").value
    //elem('access_token_display').value = access_token_value
    //console.log(access_token_value)

    if (access_token_value) {
      $("#access_token_display").val(hidden_token)
      $("#access_token_display").prop("disabled", true)
      $("#toggle-token-display-button").show()
    }
    elem("toggle-token-display-button").addEventListener("click", function(event) {
      var is_token_visible = $("#toggle-token-display-button").attr("show")
      if (is_token_visible == "false") {
        $("#access_token_display").val(elem('access_token').value)
        $("#access_token_display").prop("disabled", false)
        $("#toggle-token-display-button").attr("show", "true")
      } else {
        $("#access_token_display").val(hidden_token)
        $("#access_token_display").prop("disabled", true)
        $("#toggle-token-display-button").attr("show", "false")
      }
    });
    if ( access_token_value === "" ) {
      //elem("save_config").disabled = true;
      elem("delete_config").disabled = true;
    }
  });

  function hide_token() {
    $("#toggle-token-display-button").show()
    var button_icon = $("#toggle-token-display-button").find("i")
    $("#access_token_display").val(hidden_token)
    $("#access_token_display").prop("disabled", true)
    button_icon.removeClass("fa-eye-slash").addClass("fa-eye")
  }

  elem("node_url").addEventListener("input", function(event) {
    elem('pleroma_url').value = elem("node_url").value
    elem("node_url").classList.remove("is-invalid")
  });

  function makePostData(args) {
  	var data = [];
  	Object.keys(args).forEach(function(key) {
  		data.push(encodeURIComponent(key) + '=' + encodeURIComponent(args[key]));
  	});
  	rtn = data.join('&').replace(/%20/g, '+');
  	return rtn
  }

  function post(url, args, done) {
  	var xhr = new XMLHttpRequest();
  	xhr.onreadystatechange = function() {
  		if (xhr.readyState === 4 && xhr.status === 200) {
  			var data = xhr.response;
  			done(data);
  		}
  	}
  	xhr.open("POST", url, true);
  	xhr.setRequestHeader("Content-Type" , "application/x-www-form-urlencoded");
  	xhr.responseType = "json";
  	var postData = makePostData(args);
  	xhr.send(postData);
  }

  function getQueryVariable(variable)
  {
  	var query = window.location.search.substring(1);
  	var vars = query.split("&");
  	for (var i=0;i<vars.length;i++) {
  		var pair = vars[i].split("=");
  		if(pair[0] == variable){return pair[1];}
  	}
  	return(false);
  }

  /* main */
  var redirect_uri = window.location.protocol+"//"+window.location.host+window.location.pathname;
  var connection_title = localStorage.getItem("CONNECTION_TITLE");
  var pleroma_url = localStorage.getItem("PLEROMA_URL");
  var client_id = localStorage.getItem("PLEROMA_CLIENT_ID");
  var client_secret = localStorage.getItem("PLEROMA_CLIENT_SECRET");

  if (window.location.href.indexOf("?code=") !== -1 &&
      pleroma_url != "" &&
      client_id != "" &&
      client_secret != "") {
  	var code = getQueryVariable("code");
  	var oauth_url = pleroma_url+"/oauth/token";
  	elem("connection_title").value = connection_title;
  	elem("pleroma_url").value = pleroma_url;
  	elem("node_url").value = pleroma_url;
  	//elem("client_id").textContent = client_id;
  	//elem("client_secret").textContent = client_secret;
  	var args2 = {
      client_id: client_id,
  		client_secret: client_secret,
  		redirect_uri: redirect_uri,
  		grant_type: "authorization_code",
  		code: code};
  		post(oauth_url, args2, function(data) {
  			elem('access_token').value = data.access_token;
        hide_token()
        //elem('pleroma_url').value = pleroma_url;
        //elem('node_url').value = pleroma_url;
  		});
  } else {
  	localStorage.setItem("CONNECTION_TITLE", "");
  	localStorage.setItem("PLEROMA_URL", "");
  	localStorage.setItem("PLEROMA_CLIENT_ID", "");
  	localStorage.setItem("PLEROMA_CLIENT_SECRET", "");
  }

  elem("generate_btn").addEventListener("click", function(event) {
    console.log('mm')
    elem('pleroma_url').value = elem("node_url").value
    $('#node_url').parsley().validate()
  	event.preventDefault();
  	var url = elem("pleroma_url").value+"/api/v1/apps";
  	//var s = elem("scopes");
  	//var scopes = s.options[s.selectedIndex].value;
    var scopes = "write"
  	var args = {
      client_name: elem("client_name").value,
    	redirect_uris: redirect_uri,
    	website: elem("website").value,
    	scopes: scopes
    };
  	post(url, args, function(data) {
  		localStorage.setItem("CONNECTION_TITLE", elem("connection_title").value);
  		localStorage.setItem("PLEROMA_URL", elem("pleroma_url").value);
  		localStorage.setItem("PLEROMA_CLIENT_ID", data.client_id);
  		localStorage.setItem("PLEROMA_CLIENT_SECRET", data.client_secret);
  		var redirectLink = elem("pleroma_url").value+"/oauth/authorize?client_id="+data.client_id+"&redirect_uri="+redirect_uri+"&response_type=code&scope=" + scopes;
  		window.location.href = redirectLink;
  	});
  });

</script>

{% endblock %}
