{% extends "base-backend.html" %}
{% block content %}

<!-- reset_password_page -->

<div class="ds-narrow-container">
  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="/user/{{current_user.username}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Change password") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
        <p class="mb-0">{{ _("We suggest you use a sentence you will remember.") }}</p>
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <form name="resetPasswordForm" method="POST">
        {{ wtform.csrf_token }}
        <div class="form-group">
          {{ wtform.password.label(for="password", class="form-label") }}
          {{ wtform.password(id="password",
                             class_="form-control",
                             autocomplete="new-password",
                             strength=1)
          }}
          <meter id="password-quality-meter" max="4"></meter>
          <span id="password-strength" class="ds-password-strength-text"></span>
          <span class="form-text">{{ _("Try a short, easy to remember sentence.") }}</span>
          <span class="form-text">{{ _("Example: Peter cooks delicious food") }}</span>
          <div class="error-messages">
          {% for error in wtform.password.errors %}
            <span class="wtf-error ds-error-message">{{ error }}</span>
          {% endfor %}
          </div>
        </div>
        <div class="form-group mt-4">
          {{ wtform.password2.label(for="password2", class="form-label") }}
          {{ wtform.password2(class_="form-control",
                              autocomplete="new-password",
                              data_parsley_equalto="#password") }}
          <div class="error-messages">
          {% for error in wtform.password2.errors %}
            <span class="wtf-error ds-error-message">{{ error }}</span>
          {% endfor %}
          </div>
        </div>
        <div class="mt-4">
          <input class="btn btn-primary" type="submit" value="{{ _('Reset password') }}">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "user_resetpassword.j2.md";

const parsley_options = {
  errorsContainer: function (field) {
    return $(field.element).closest(".form-group")
  }
}
$('form[name=resetPasswordForm]').find("input").on("focus", function() {
  $(this).closest(".form-group").find(".wtf-error").remove()
});

{% with form_name="resetPasswordForm" %}
  {% include "partials/password-check.js" %}
{% endwith %}
</script>

{% endblock %}
